.leftbar{
    width:25%;
	
	height: 100%;
    position: relative;
    overflow: hidden;
    border: solid;
    border-color:grey;
    border-width: 1px;
	/* flex:30%; */
    /* background-color: rebeccapurple; */

    /* z-index: -1; */
}

